#data , #mainDiv{
    height: 400px;
    width: 500px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

#data>div{
    margin-top: 7px;
}

.dataDiv{
    display: flex;
    width:290px;
    
}

.append{
    height:60px;
    width:290px;
    margin-top: 25px;
}

input {
    width: 490px;
    height:40px;
}